$leftColWidth: 200px;

.main-content {
	margin-left: $leftColWidth;
}

.main-left-col {
	height: 100%;
	left: 0;
	position: absolute;
	width: $leftColWidth;
}

#app {
	margin: 30px;
}

.modal-container {
	position: relative;

	.modal,
	.modal-backdrop {
		position: absolute;
	}
}
