{
    "rules": {
        "strict": 0,
        "comma-dangle": [
            2,
            "always-multiline"
        ],
        "no-unused-vars": [
            2, {
                "vars": "all",
                "args": "none"
            }
        ],
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    }
}
