<!DOCTYPE html>
<html>
	<head>
		<title>Budget</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="styles{{minExt}}.css?v={{styleHash}}">
	</head>
	<body>
		<div id="app"></div>
	</body>
	<script src="bundle{{minExt}}.js?v={{scriptHash}}"></script>
</html>
