.budget-management-tool {
	$navWidth: 200px;
	position: relative;

	.add-budget-item {
		position: absolute;
		right: 0px;
	}

	.tab-pane {
		padding: 20px 30px;
	}

	nav.budget-detail-nav {
		display: inline-block;
		text-align: right;
		vertical-align: top;
		width: $navWidth;

		// Hack since tab component wraps in a div
		+ div {
			display: inline-block;
			position: absolute;
			width: calc(100% - #{$navWidth});

			.tab-pane {
				position: absolute;
				width: 100%;
			}
		}
	}

	nav.budget-detail-tabs {
		display: none;
	}

	.add-budget-item {
		z-index: 100;
	}
}
