.add-budget-item {
	float: right;
}

.budget-items {
	padding: 20px 50px;

	.detail-toggle {
		float: right;
	}
}

.budget-summary {
	font-weight: bold;
	font-size: 20px;
	padding: 20px 50px;

	.summary-item {
		margin: 0 20px;
	}

	.summary-value {

	}
}
